@charset "UTF-8";
html, body, div, span, object, iframe, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, h1, h2, h3, h4, h5, h6, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	font-size: 75%;
	font-family: "NotoKrR",sans-serif;
	color: #333;
}
#wrapper {
	width: 100%;
	min-width: 1100px;
	text-align: center;
}
#wrapper {
	background: #f2f4f6;
}
#wrapper {
	background: url(https://www.panel-queen.com/img/main/main_bg.gif) no-repeat center 0px;
}
#wrapper {
	width: 100%;
	min-width: 1100px;
	text-align: center;
}
#wrapper {
	background: #f2f4f6;
}
#foot {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 30px 0;
	clear: both;
	border-top: 1px solid #e3e5e7;
	background: #fff;
}
#foot {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 30px 0;
	clear: both;
	border-top: 1px solid #e3e5e7;
	background: #fff;
}
noscript {
	display: none;
}
#foot .foot_area {
	position: relative;
	width: 1100px;
	margin: 0 auto;
	padding-bottom: 40px;
	text-align: left;
	background: url(https://www.panel-queen.com/img/common/foot_logo.gif) no-repeat right 70px;
}
#foot .foot_area {
	position: relative;
	width: 1100px;
	margin: 0 auto;
	padding-bottom: 40px;
	text-align: left;
	background: url(https://www.panel-queen.com/img/common/foot_logo.gif) no-repeat right 70px;
}
ol, ul, li {
	list-style: none;
}
#foot .foot_area ul.fmenu {
	width: 100%;
	display: inline-block;
}
#foot .foot_area ul.fmenu {
	width: 100%;
	display: inline-block;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
}
#foot .foot_area address {
	margin-top: 30px;
}
#foot .foot_area address {
	margin-top: 30px;
}
#foot .site {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 200px;
	border: 1px solid #dfe0e1;
	z-index: 99;
}
#foot .site {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 200px;
	border: 1px solid #dfe0e1;
	z-index: 99;
}
p {
	margin: 0;
	padding: 0;
	border: 0;
}
#foot .site .btn {
	line-height: 40px;
	background: url(https://www.panel-queen.com/img/common/site_plus.gif) no-repeat 170px 50%;
}
#foot .site .btn {
	line-height: 40px;
	background: url(https://www.panel-queen.com/img/common/site_plus.gif) no-repeat 170px 50%;
}
#foot .site ul {
	position: absolute;
	bottom: 40px;
	left: -1px;
	width: 200px;
	border: 1px solid #dfe0e1;
	background: #fff;
}
#foot .site ul {
	position: absolute;
	bottom: 40px;
	left: -1px;
	width: 200px;
	border: 1px solid #dfe0e1;
	background: #fff;
}
#foot .site ul li {
	border-top: 1px solid #e5e5e5;
}
#foot .site ul li {
	border-top: 1px solid #e5e5e5;
}
#foot .site ul li:first-child {
	border-top: 0;
}
#foot .site ul li:first-child {
	border-top: 0;
}
.con_btn {
	display: inline-block;
	height: 48px;
	font-family: "NotoKrM";
	font-size: 15px;
	line-height: 48px;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	box-sizing: border-box;
}
a, a:link {
	color: #555;
	text-decoration: none;
	cursor: pointer;
}
#foot .site a {
	display: block;
	font-size: 13px;
	color: #9c9c9c;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}
#foot .site a {
	display: block;
	font-size: 13px;
	color: #9c9c9c;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}
#foot .site ul li a {
	padding: 11px 10px;
	font-family: "NotoKrR";
	font-weight: 400;
}
#foot .site ul li a {
	padding: 11px 10px;
	font-family: "NotoKrR";
	font-weight: 400;
}
#foot .site .btn a {
	padding-left: 20px;
}
#foot .site .btn a {
	padding-left: 20px;
}
#foot .foot_area address p {
	font-size: 14px;
	color: #a7a7a7;
	margin-bottom: 8px;
	letter-spacing: -1px;
	font-weight: 400;
}
#foot .foot_area address p {
	font-size: 14px;
	color: #a7a7a7;
	margin-bottom: 8px;
	letter-spacing: -1px;
	font-weight: 400;
}
.bold {
	font-weight: bold;
}
#foot .foot_area address p span.bold {
	font-family: "NotoKrB";
	margin-right: 10px;
}
#foot .foot_area address p span.bold {
	font-family: "NotoKrB";
	margin-right: 10px;
}
#foot .foot_area address p span.num {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0px;
	font-size: 14px;
}
#foot .foot_area address p span.num {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0px;
	font-size: 14px;
}
#foot .foot_area ul.fmenu li {
	float: left;
	padding-left: 20px;
	margin-left: 20px;
	background: url(https://www.panel-queen.com/img/common/fmenu_bar.gif) no-repeat left 50%;
}
#foot .foot_area ul.fmenu li {
	float: left;
	padding-left: 20px;
	margin-left: 20px;
	background: url(https://www.panel-queen.com/img/common/fmenu_bar.gif) no-repeat left 50%;
}
#foot .foot_area ul.fmenu li:first-child {
	padding-left: 0px;
	margin-left: 0px;
	background: none;
}
#foot .foot_area ul.fmenu li:first-child {
	padding-left: 0px;
	margin-left: 0px;
	background: none;
}
#foot .foot_area ul.fmenu li a {
	color: #5b5b5b;
	font-size: 14px;
	letter-spacing: -1px;
	font-family: "NotoKrM";
}
#foot .foot_area ul.fmenu li a {
	color: #5b5b5b;
	font-size: 14px;
	letter-spacing: -1px;
	font-family: "NotoKrM";
}
#head {
	position: relative;
	width: 100%;
	min-width: 1100px;
	height: 100px;
	background: #152c51;
}
#head {
	position: relative;
	width: 100%;
	min-width: 1100px;
	height: 100px;
	background: #152c51;
}
#container {
	position: relative;
	width: 1100px;
	margin: 0 auto;
	padding: 40px 0;
}
#container {
	padding-top: 60px;
}
#container {
	position: relative;
	width: 1100px;
	margin: 0 auto;
	padding: 40px 0;
}
#container::after {
	display: block;
	clear: both;
	content: "";
}
#container::after {
	display: block;
	clear: both;
	content: "";
}
#contents_wide {
	width: 1100px;
	margin: 0 auto;
}
#contents_wide {
	width: 1100px;
	margin: 0 auto;
}
#cont_wrap {
	min-height: 500px;
	padding: 60px 59px;
	font-size: 14px;
	line-height: 1.5;
}
#cont_wrap {
	min-height: 500px;
	padding: 60px 59px;
	font-size: 14px;
	line-height: 1.5;
}
#contents_wide #cont_wrap {
	padding: 30px 0 50px 0 !important;
}
#contents_wide #cont_wrap {
	padding: 30px 0 50px 0 !important;
}
.con_tab {
	width: 100%;
}
.tab_b {
	margin-bottom: 60px;
}
.tab_b {
	margin-bottom: 30px;
}
.con_tab {
	width: 100%;
}
.tab_b {
	margin-bottom: 60px;
}
.tab_b {
	margin-bottom: 30px;
}
.headline {
	text-align: center;
}
.s0901 {
	width: 450px;
	padding: 50px;
	margin: 0 auto;
	background: #fff;
}
table {
	border-spacing: 0;
}
table.table3 {
	width: 450px;
	margin: 0 auto 30px auto;
	text-align: left;
}
table.table3 {
	width: 450px;
	margin: 0 auto 30px auto;
	text-align: left;
}
.btn_w {
	overflow: hidden;
	width: 100%;
	text-align: center;
	padding: 40px 0;
	font-size: 0px;
	line-height: 0;
}
.btn_w {
	overflow: hidden;
	width: 100%;
	text-align: center;
	padding: 40px 0;
	font-size: 0px;
	line-height: 0;
}
.s0901 .btn_w {
	width: 450px;
	margin: 0 auto;
	padding: 20px 0;
}
.fr {
	float: right;
}
.fl {
	float: left;
}
.con_btn {
	display: inline-block;
	height: 48px;
	font-family: "NotoKrM";
	font-size: 15px;
	line-height: 48px;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	box-sizing: border-box;
}
input.con_btn {
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
}
input.con_btn {
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
}
.con_btn.sky {
	border: 1px solid #152c51;
	background: #eef2f9;
	color: #152c51;
}
.con_btn.sky {
	border: 1px solid #152c51;
	background: #eef2f9;
	color: #152c51;
}
.con_btn.mint {
	border: 1px solid #00bd7f;
	background: #fff;
	color: #00bd7f;
}
.con_btn.mint {
	border: 1px solid #00bd7f;
	background: #fff;
	color: #00bd7f;
}
.con_btn.red {
	border: 1px solid #ff4f2c;
	color: #ff4f2c;
}
.s0901 .con_btn {
	width: 100%;
}
.s0901 .con_btn {
	width: 213px;
}
caption {
	visibility: hidden;
	height: 0px;
	width: 0px;
	font-size: 0px;
}
table.table3 td {
	padding-bottom: 15px;
}
table.table3 td {
	padding-bottom: 15px;
}
table.table3 td dl {
	width: 100%;
}
table.table3 td dl {
	width: 100%;
}
table.table3 td dt {
	margin-bottom: 10px;
	font-family: "NotoKrB";
	font-size: 15px;
	color: #272727;
}
table.table3 td dt {
	margin-bottom: 10px;
	font-family: "NotoKrB";
	font-size: 15px;
	color: #272727;
}
.input_box {
	width: 100%;
	height: 50px;
	padding: 0 10px;
	border: 1px solid #dfe1e3;
	border-radius: 3px;
	box-sizing: border-box;
	background: #f2f4f6;
	font-family: "NotoKrM";
	font-size: 15px;
	color: #152c51;
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
}
.input_box {
	width: 100%;
	height: 50px;
	padding: 0 10px;
	border: 1px solid #dfe1e3;
	border-radius: 3px;
	box-sizing: border-box;
	background: #f2f4f6;
	font-family: "NotoKrM";
	font-size: 15px;
	color: #152c51;
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
}
table.table3 .email {
	overflow: hidden;
}
table.table3 .email {
	overflow: hidden;
}
table.table3 .email ul {
	float: left;
	width: 100%;
}
table.table3 .email ul {
	float: left;
	width: 100%;
}
table.table3 .email li {
	float: left;
	width: 43%;
}
table.table3 .email li {
	float: left;
	width: 43%;
}
table.table3 .email li:first-child {
	width: 50%;
}
table.table3 .email li:first-child {
	width: 50%;
}
table.table3 .email li.hyphen {
	width: 30px !important;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-family: "NotoKrB";
}
table.table3 .email li.hyphen {
	width: 30px !important;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-family: "NotoKrB";
}
select {
	font-size: 1em;
}
select, textarea {
	vertical-align: middle;
	font-size: 1em;
	font-family: Dotum,"����",sans-serif;
}
.select_box {
	width: 100%;
	height: 50px;
	padding: 0 10px;
	border: 1px solid #dfe1e3;
	border-radius: 3px;
	box-sizing: border-box;
	background: #f2f4f6;
	font-family: "NotoKrM";
	font-size: 15px;
	color: #152c51;
}
.select_box {
	width: 100%;
	height: 50px;
	padding: 0 10px;
	border: 1px solid #dfe1e3;
	border-radius: 3px;
	box-sizing: border-box;
	background: #f2f4f6;
	font-family: "NotoKrM";
	font-size: 15px;
	color: #152c51;
}
table.table3 .birth {
	overflow: hidden;
}
table.table3 .birth {
	overflow: hidden;
}
table.table3 .birth ul {
	display: inline-block;
}
table.table3 .birth ul {
	display: inline-block;
}
table.table3 .birth li {
	float: left;
	width: 135px;
	margin-left: 22px;
}
table.table3 .birth li {
	float: left;
	width: 135px;
	margin-left: 22px;
}
table.table3 .birth li:first-child {
	margin-left: 0px;
}
table.table3 .birth li:first-child {
	margin-left: 0px;
}
table.table3 .birth li p.select_tit {
	margin-bottom: 10px;
	font-family: "NotoKrB";
	font-size: 15px;
	color: #272727;
}
table.table3 .birth li p.select_tit {
	margin-bottom: 10px;
	font-family: "NotoKrB";
	font-size: 15px;
	color: #272727;
}
.custom-radiobtn-sprite {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.custom-radiobtn-sprite input[type=radio] {
	display: none;
}
.custom-radiobtn-sprite input[type=radio] + label.male {
	display: inline-block;
	cursor: pointer;
	outline: 0;
	width: 158px;
	height: 158px;
	background-image: url(https://www.panel-queen.com/img/sub/radio_male.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -99999px;
	margin: 0 12px;
}
.custom-radiobtn-sprite input[type=radio] + label.female {
	display: inline-block;
	cursor: pointer;
	outline: 0;
	width: 158px;
	height: 158px;
	background-image: url(https://www.panel-queen.com/img/sub/radio_female.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -99999px;
	margin: 0 12px;
}
p.notice {
	color: #ff5555;
	margin-top: 8px;
	font-family: "NotoKrM";
	background: url(https://www.panel-queen.com/img/common/notice.gif) no-repeat left 50%;
	padding-left: 25px;
}
p.notice {
	color: #ff5555;
	margin-top: 8px;
	font-family: "NotoKrM";
	background: url(https://www.panel-queen.com/img/common/notice.gif) no-repeat left 50%;
	padding-left: 25px;
}
.mt10 {
	margin-top: 10px;
}
.con_sbtn {
	display: inline-block;
	width: 100%;
	height: 50px;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	font-family: "NotoKrM";
	font-size: 14px;
	letter-spacing: -0.05em;
	line-height: 40px;
}
.con_sbtn {
	display: inline-block;
	width: 100%;
	height: 50px;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	font-family: "NotoKrM";
	font-size: 14px;
	letter-spacing: -0.05em;
	line-height: 40px;
}
.con_sbtn.navy {
	background: #152c51;
	color: #fff;
}
.con_sbtn.navy {
	background: #152c51;
	color: #fff;
}
.con_btn.red {
	border: 1px solid #ff4f2c;
	color: #ff4f2c;
}
table.table3 .p_num {
	overflow: hidden;
}
table.table3 .p_num {
	overflow: hidden;
}
table.table3 .p_num ul {
	float: left;
	width: 330px;
}
table.table3 .p_num ul {
	float: left;
	width: 330px;
}
table.table3 .p_num .con_sbtn {
	float: right;
	width: 110px;
}
table.table3 .p_num .con_sbtn {
	float: right;
	width: 110px;
}
table.table3 .p_num li {
	float: left;
	width: 90px;
}
table.table3 .p_num li {
	float: left;
	width: 90px;
}
table.table3 .p_num li.hyphen {
	width: 30px !important;
	height: 50px;
	background: url(https://www.panel-queen.com/img/sub/img_hyphen.gif) no-repeat 50%;
	font-size: 0px;
	line-height: 0;
}
table.table3 .p_num li.hyphen {
	width: 30px !important;
	height: 50px;
	background: url(https://www.panel-queen.com/img/sub/img_hyphen.gif) no-repeat 50%;
	font-size: 0px;
	line-height: 0;
}
.headline h2.tit {
	padding-top: 20px;
	background: url(https://www.panel-queen.com/img/common/icon_h2.gif) no-repeat 50% top;
	font-family: "NotoKrM";
	font-weight: normal;
	font-size: 38px;
	color: #152c51;
	letter-spacing: -0.05em;
}
.headline p.txt {
	padding: 10px 0 40px;
	font-size: 20px;
	color: #8e969f;
	letter-spacing: -0.07em;
}
.con_tab ul {
	overflow: hidden;
	clear: both;
	width: 100%;
	background: #fff;
	border-radius: 3px;
}
.con_tab ul {
	overflow: hidden;
	clear: both;
	width: 100%;
	background: #fff;
	border-radius: 3px;
}
.con_tab ul li {
	float: left;
	width: 25%;
	background: url(https://www.panel-queen.com/img/sub/bg_tabline.gif) no-repeat 0 50%;
}
.con_tab ul li {
	float: left;
	width: 25%;
	background: url(https://www.panel-queen.com/img/sub/bg_tabline.gif) no-repeat 0 50%;
}
.con_tab ul li:first-child {
	background: none;
}
.con_tab ul.no4 li {
	width: 25%;
}
.con_tab ul li:first-child {
	background: none;
}
.con_tab ul.no4 li {
	width: 25%;
}
.con_tab ul li a {
	display: block;
	padding: 20px 0 20px 120px;
	font-family: "NotoKrM";
	font-size: 15px;
	color: #6c6c6c;
	text-align: left;
	cursor: text;
}
.con_tab ul li a {
	display: block;
	padding: 20px 0 20px 120px;
	font-family: "NotoKrM";
	font-size: 15px;
	color: #6c6c6c;
	text-align: left;
	cursor: text;
}
.con_tab ul li.tab04 a {
	background: url(https://www.panel-queen.com/img/sub/s0901_icon04.png) no-repeat 73px 50%;
}
.con_tab ul li.tab04 a {
	background: url(https://www.panel-queen.com/img/sub/s0901_icon04.png) no-repeat 73px 50%;
}
.con_tab ul li.tab03 a {
	background: url(https://www.panel-queen.com/img/sub/s0901_icon03.png) no-repeat 74px 50%;
}
.con_tab ul li.tab03 a {
	background: url(https://www.panel-queen.com/img/sub/s0901_icon03.png) no-repeat 74px 50%;
}
.con_tab ul li a.on {
	background-color: #ffbb2c;
	font-family: "NotoKrB";
	color: #fff;
	z-index: 1;
}
.con_tab ul li.tab02 a {
	background: url(https://www.panel-queen.com/img/sub/s0901_icon02.png) no-repeat 72px 50%;
}
.con_tab ul li a.on {
	background-color: #ffbb2c;
	font-family: "NotoKrB";
	color: #fff;
	z-index: 1;
}
.con_tab ul li.tab02 a {
	background: url(https://www.panel-queen.com/img/sub/s0901_icon02.png) no-repeat 72px 50%;
}
.con_tab ul li.tab02 a.on {
	background: url(https://www.panel-queen.com/img/sub/s0901_icon02_on.png) no-repeat 72px 50% #ffbb2c;
}
.con_tab ul li.tab02 a.on {
	background: url(https://www.panel-queen.com/img/sub/s0901_icon02_on.png) no-repeat 72px 50% #ffbb2c;
}
.con_tab ul li.tab01 a {
	background: url(https://www.panel-queen.com/img/sub/s0901_icon01.png) no-repeat 78px 50%;
}
.con_tab ul li.tab01 a {
	background: url(https://www.panel-queen.com/img/sub/s0901_icon01.png) no-repeat 78px 50%;
}
#head #head_area {
	position: relative;
	width: 1100px;
	height: 100px;
	margin: 0 auto;
}
#head #head_area {
	position: relative;
	width: 1100px;
	height: 100px;
	margin: 0 auto;
}
#head h1.logo {
	position: absolute;
	top: 27px;
	left: 0px;
	z-index: 10;
}
#head h1.logo {
	position: absolute;
	top: 27px;
	left: 0px;
	z-index: 10;
}
#menu_navi {
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 1;
	clear: both;
}
#menu_navi {
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 1;
	clear: both;
}
.menu-wrap {
	position: absolute;
	z-index: 1001;
	width: 230px;
	font-size: 1.15em;
	-webkit-transform: translate3d(-230px, 0, 0);
	transform: translate3d(-230px, 0px, 0px);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	top: -15px;
	left: 0px;
}
#head #head_area .menu-wrap {
	display: none;
}
#head #head_area .menu-wrap {
	display: none;
}
.menu-button {
	position: absolute;
	z-index: 1000;
	margin: 8px 0 0 15px;
	padding: 0;
	width: 23px;
	height: 15px;
	border: none;
	text-indent: 20px;
	font-size: 5px;
	color: transparent;
	background: transparent;
}
.menu-button::before {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: linear-gradient(#fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%);
	content: "";
}
#head #head_area .menu-button {
	display: none;
}
#head #head_area .menu-button {
	display: none;
}
.menu-wrap-r {
	position: absolute;
	z-index: 1001;
	width: 230px;
	font-size: 1.15em;
	-webkit-transform: translate3d(230px, 0, 0);
	transform: translate3d(230px, 0px, 0px);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	top: -15px;
	right: 0px;
}
#head #head_area .menu-wrap-r {
	display: none;
}
#head #head_area .menu-wrap-r {
	display: none;
}
.menu-button-r {
	position: absolute;
	z-index: 1000;
	margin: 8px 15px 0 0;
	padding: 0;
	width: 23px;
	height: 15px;
	border: none;
	font-size: 5px;
	color: transparent;
	background: transparent;
}
.menu-button-r::before {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: linear-gradient(#ffac3e 20%, transparent 20%, transparent 40%, #ffac3e 40%, #ffac3e 60%, transparent 60%, transparent 80%, #ffac3e 80%);
	content: "";
}
#head #head_area .menu-button-r {
	display: none;
}
#head #head_area .menu-button-r {
	display: none;
}
.morph-shape-r {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 15px;
	right: 0px;
	fill: #2d4b7c;
}
.menu_r {
	position: relative;
	z-index: 1000;
	padding: 0;
	top: 0px;
}
.close-button-r {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 16px;
	border: none;
	z-index: 1001;
	background: transparent;
	color: transparent;
}
.menu_r, .close-button-r {
	opacity: 0;
	cursor: pointer;
	-webkit-transform: translate3d(160px, 0, 0);
	transform: translate3d(160px, 0px, 0px);
	-webkit-transition: opacity 0s 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0s 0.3s, transform 0s 0.3s;
	-webkit-transition-timing-function: cubic-bezier(.17, .67, .1, 1.27);
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.1, 1.27);
}
.close-button-r::before, .close-button-r::after {
	content: "";
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0px;
	right: 50%;
	background: #fff;
}
.close-button-r::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.close-button-r::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
img, input.type-image {
	border: 0 none;
}
.morph-shape {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	fill: #fff;
}
.menu {
	position: relative;
	z-index: 1000;
	padding: 0;
	top: 0px;
}
.close-button {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 16px;
	border: none;
	z-index: 1001;
	background: transparent;
	color: transparent;
}
.menu, .close-button {
	opacity: 0;
	cursor: pointer;
	-webkit-transform: translate3d(-160px, 0, 0);
	transform: translate3d(-160px, 0px, 0px);
	-webkit-transition: opacity 0s 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0s 0.3s, transform 0s 0.3s;
	-webkit-transition-timing-function: cubic-bezier(.17, .67, .1, 1.27);
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.1, 1.27);
}
.close-button::before, .close-button::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0px;
	left: 50%;
	background: #152c51;
}
.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#sidebar {
	float: right;
	width: 230px;
}
#sidebar {
	float: right;
	width: 230px;
}
/* @media all and (min-width:767px) */
.menu-wrap #sidebar {
	display: none;
}
/* @media all and (min-width:767px) */
.menu-wrap #sidebar {
	display: none;
}
#sidebar .profile {
	position: relative;
	padding: 30px 0;
	background: #ffbb2c;
}
#sidebar .profile {
	position: relative;
	padding: 30px 0;
	background: #ffbb2c;
}
#sidemenu {
	background: #fff;
	border-left: 1px solid #e3e9f3;
	border-right: 1px solid #e3e9f3;
	border-bottom: 1px solid #e3e9f3;
	text-align: left;
}
#sidemenu {
	background: #fff;
	border-left: 1px solid #e3e9f3;
	border-right: 1px solid #e3e9f3;
	border-bottom: 1px solid #e3e9f3;
	text-align: left;
}
#sidemenu ul {
	padding-bottom: 50px;
}
#sidemenu ul {
	padding-bottom: 50px;
}
#sidemenu ul li a {
	display: block;
	height: 50px;
	padding: 0 20px;
	font-family: "NotoKrM";
	font-size: 13px;
	line-height: 50px;
	color: #393b40;
}
#sidemenu ul li a {
	display: block;
	height: 50px;
	padding: 0 20px;
	font-family: "NotoKrM";
	font-size: 13px;
	line-height: 50px;
	color: #393b40;
}
#sidemenu ul li span {
	padding-left: 35px;
}
#sidemenu ul li span {
	padding-left: 35px;
}
#sidemenu ul li.rm08 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm08.png) no-repeat 0 50%;
}
#sidemenu ul li.rm08 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm08.png) no-repeat 0 50%;
}
#sidemenu ul li.rm07 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm07.png) no-repeat 0 50%;
}
#sidemenu ul li.rm07 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm07.png) no-repeat 0 50%;
}
#sidemenu ul li.rm06 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm06.png) no-repeat 0 50%;
}
#sidemenu ul li.rm06 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm06.png) no-repeat 0 50%;
}
#sidemenu ul li.rm05 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm05.png) no-repeat 0 50%;
}
#sidemenu ul li.rm05 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm05.png) no-repeat 0 50%;
}
#sidemenu ul li.rm04 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm04.png) no-repeat 0 50%;
}
#sidemenu ul li.rm04 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm04.png) no-repeat 0 50%;
}
#sidemenu ul li.rm03 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm03.png) no-repeat 0 50%;
}
#sidemenu ul li.rm03 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm03.png) no-repeat 0 50%;
}
#sidemenu ul li.rm02 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm02.png) no-repeat 0 50%;
}
#sidemenu ul li.rm02 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm02.png) no-repeat 0 50%;
}
#sidemenu ul li.rm09 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm09.png) no-repeat 0 50%;
}
#sidemenu ul li.rm09 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm09.png) no-repeat 0 50%;
}
#sidemenu ul li.rm01 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm01.png) no-repeat 0 50%;
}
#sidemenu ul li.rm01 span {
	background: url(https://www.panel-queen.com/img/common/icon_rm01.png) no-repeat 0 50%;
}
#sidebar .profile .proimg {
	overflow: hidden;
	position: relative;
	width: 70px;
	height: 70px;
	margin: 0 auto 15px;
	background: url(https://www.panel-queen.com/img/common/img_pro_noimg.png) no-repeat;
}
#sidebar .profile .proimg {
	overflow: hidden;
	position: relative;
	width: 70px;
	height: 70px;
	margin: 0 auto 15px;
	background: url(https://www.panel-queen.com/img/common/img_pro_noimg.png) no-repeat;
}
#sidebar .profile .proimg.man {
	background: url(https://www.panel-queen.com/img/main/pro_man.png) no-repeat;
}
#sidebar .profile .proimg.man {
	background: url(https://www.panel-queen.com/img/main/pro_man.png) no-repeat;
}
#sidebar .profile .mypoint dt {
	font-family: "NotoKrB";
	font-size: 13px;
	color: #736542;
}
#sidebar .profile .mypoint dt {
	font-family: "NotoKrB";
	font-size: 13px;
	color: #736542;
}
#sidebar .profile .mypoint dd {
	display: inline-block;
	padding-right: 23px;
	background: url(https://www.panel-queen.com/img/common/icon_mypoint.png) no-repeat 100% 50%;
	font-family: "Montserrat",sans-serif;
	font-size: 25px;
	font-weight: 800;
	color: #152c51;
}
#sidebar .profile .mypoint dd {
	display: inline-block;
	padding-right: 23px;
	background: url(https://www.panel-queen.com/img/common/icon_mypoint.png) no-repeat 100% 50%;
	font-family: "Montserrat",sans-serif;
	font-size: 25px;
	font-weight: 800;
	color: #152c51;
}
#sidebar .profile .proimg .add {
	position: absolute;
	bottom: 0px;
	right: 0px;
}
#sidebar .profile .proimg .add {
	position: absolute;
	bottom: 0px;
	right: 0px;
}
#menu_navi #menu_area {
	position: relative;
	width: 1100px;
	margin: 0 auto;
	text-align: center;
	clear: both;
}
#menu_navi #menu_area {
	position: relative;
	width: 1100px;
	margin: 0 auto;
	text-align: center;
	clear: both;
}
#menu_navi ul {
	position: absolute;
	top: 33px;
	right: 0px;
}
#menu_navi ul {
	position: absolute;
	top: 33px;
	right: 0px;
}
#menu_navi ul li {
	float: left;
	margin-left: 20px;
	font-size: 0px;
	line-height: 0;
}
#menu_navi ul li {
	float: left;
	margin-left: 20px;
	font-size: 0px;
	line-height: 0;
}
#menu_navi ul li:first-child {
	margin-left: 0px;
}
#menu_navi ul li:first-child {
	margin-left: 0px;
}
#menu_navi ul li span {
	display: none;
}
#menu_navi ul li span {
	display: none;
}
a:visited {
	color: #555;
}