<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.survey.mapper.ContentMapper">
	<select id="readSurvey" resultType="SurveyVO">
		select sv_id, sv_title, sv_writer, sv_startdate, sv_enddate, sv_hits, sv_count, sv_state 
		from survey where sv_id = #{sv_id}
	</select>
	
	<select id="listSurvey" resultType="SurveyVO">
		select sv_id, sv_title, sv_writer, sv_startdate, sv_enddate, sv_hits, sv_count, sv_state 
		from survey order by sv_id desc
	</select>
	
	<update id="addCount" >
		update survey set sv_hits = sv_hits + 1 where sv_id = #{sv_id}
	</update>
	
	<select id="listResult" resultType="ResultVO" >
		select list_content label, count(list_content) y from survey_list sl 
		join survey_result sr on sr.list_id = sl.list_id 
		where sv_id = #{sv_id} group by list_content
	</select>
	<select id="listTotal" resultType="Integer">
		select count(list_content) from survey_list sl 
		join survey_result sr on sr.list_id = sl.list_id 
		where sv_id = #{sv_id}
	</select>
	
	
<select resultType="SurveyVO" id="listPage">

<![CDATA[
	select rnum, sv_id, sv_title, sv_writer, sv_startdate, sv_enddate, sv_hits, sv_count, sv_state 
	from
	(select rownum rnum, sv_id, sv_title, sv_writer, sv_startdate, sv_enddate, sv_hits, sv_count, sv_state 
	from (select * from survey order by sv_id desc ))
	where rnum between #{pageStart} and #{page}*#{perPageNum}	
	]]>
</select>


<select resultType="int" id="countPaging">

<![CDATA[
		select count(sv_id)
		from survey 
		where sv_id > 0
		]]>
</select>
	
</mapper>