<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.survey.mapper.ContentMapper">
	<select id="readSurvey" resultType="SurveyVO">
		select sv_id, sv_title, sv_writer, sv_startdate, sv_enddate, sv_hits, sv_count, sv_state 
		from survey where sv_id = #{sv_id}
	</select>


	<select id="listPage" resultType="SurveyVO">

<![CDATA[
	select rnum, sv_id, sv_title, sv_writer, sv_startdate, sv_enddate, sv_hits, sv_count, sv_state 
	from
	(select rownum rnum, sv_id, sv_title, sv_writer, sv_startdate, sv_enddate, sv_hits, sv_count, sv_state 
	from (select * from survey order by sv_id desc ))
	where rnum between #{pageStart} and #{page}*#{perPageNum}	
	]]>
	</select>


	<select id="countPaging" resultType="int">

<![CDATA[
		select count(sv_id)
		from survey 
		where sv_id > 0
		]]>
	</select>
</mapper>